* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

Global styling*/
/* body {
  scroll-behavior: smooth0;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
}

h3 {
  font-size: 1.4rem;
  font-weight: 800;
}

h4 {
  font-size: 1.1rem;
  font-weight: 600;
}

h5 {
  font-size: 1rem;
  font-weight: 400;
  color: #1d1d1d;
}

h6 {
  color: #d8d8d8;
}

hr {
  width: 30px;
  height: 2px;
  background-color: #fb774b;} */


  body {
  scroll-behavior: smooth;
}

head {
  display: flex;
  position: relative;
}

.header-2 {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #e3e6f3;
  border-bottom: 1px solid rgb(44, 44, 44);
  position: sticky;
}

.logo {
  width: 20%;
}

.logo span {
  font-size: 40px;
  font-weight: 600;
}

.fito {
  color: rgb(115, 141, 0);
  font-size: 40px;
  font-weight: 600;
}

.nav {
  width: 60%;
}

.nav nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.nav nav ul li {
  margin-right: 50px;
  font-size: 18px;
}

.nav nav ul li a {
  text-decoration: none;
  color: rgb(71, 71, 71);
  transition: 0.3s ease;
}

.nav nav ul li a:hover {
  color: rgb(115, 141, 0);
  text-decoration: underline;
}

.nav nav ul li a:active {
  color: rgb(115, 141, 0);
}

.imgg {
  width: 20%;
  display: flex;
  justify-content: flex-start;
}

.imgg img {
  width: 25px;
  margin-right: 40px;
}

.imgg img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.imgg input::placeholder {
  font-size: 15px;
  color: rgb(46, 46, 46);
}

.main {
  width: 100%;
  height: 90vh;
  background-image: url(img/hero4.png);
  background-position: center center;
  background-position-y: 25%;
  background-repeat: no-repeat;
  background-size: cover;
  justify-items: center;
  align-content: center;
}

.main .txt-1 {
  width: 100%;
  height: 50vh;
  padding: 0px 80px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.main .txt-1 h4 {
  font-size: 20px;
  font-weight: 600;
}

.main .txt-1 h1 {
  margin-top: 10px;
  font-size: 55px;
  font-weight: 700;
}

.main .txt-1 h2 {
  font-size: 50px;
  font-weight: 600;
  color: rgb(78, 78, 78);
}

.main .txt-1 p {
  margin-top: 5px;
  color: rgb(71, 71, 71);
}

.main .txt-1 button {
  margin-top: 20px;
  text-decoration: none;
  background: transparent;
  background-image: url(img/button.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 8px 40px;
  border: none;
}

.main .txt-1 button a {
  text-decoration: none;
  font-size: 16px;
  color: rgb(46, 46, 46);
  font-weight: 600;
}

.feature {
  padding: 40px 80px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.feature .fe-1 {
  width: 188px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0px;
}

.feature .fe-1 img {
  width: 100%;
  margin-bottom: 10px;
}

.feature .fe-1 h6 {
  color: #1d1d1d;
  display: inline-block;
  padding: 9px 8px 6px 9px;
  line-height: 1;
  font-size: 12px;
  background-color: #fddde4;
  border-radius: 4px;
}

.feature .fe-1:hover {
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.feature .fe-1:nth-child(2) h6 {
  background-color: #cdebbc;
  border-radius: 4px;
}

.feature .fe-1:nth-child(3) h6 {
  background-color: #eef7e9;
  border-radius: 4px;
}

.feature .fe-1:nth-child(4) h6 {
  background-color: #c8ffa8;
  border-radius: 4px;
}

.feature .fe-1:nth-child(5) h6 {
  background-color: #cccbcb;
  border-radius: 4px;
}

.feature .fe-1:nth-child(6) h6 {
  background-color: #e4ffd4;
  border-radius: 4px;
}

.product {
  text-align: center;
  padding: 40px 80px;
}

.product h2 {
  font-size: 45px;
  font-weight: 600;
}

.product .pro-container {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  margin-top: 50px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  cursor: pointer;
}

.product .pro-container:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.product .pro-container .pro-1 img {
  width: 100%;
  border-radius: 20px;
}

.all-pro {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product .pro-container .pro-1 .des {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 10px 0px;
}

.product .des span {
  color: rgb(78, 78, 78);
}

.des h4 {
  color: #1f5248;
}

.product .des h5 {
  margin-top: 8px;
}

.pro-1 .star i {
  color: rgb(236, 236, 1);
  margin-top: 5px;
}

.product .des h4 {
  margin-top: 8px;
}

.banner-1 {
  background-image: url(img/banner/b2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 30vh;
  align-content: center;
  text-align: center;
  color: #fff;
}

.txt-2 h4 {
  font-size: 22px;
  font-weight: 600;
}

.txt-2 h2 {
  font-size: 25px;
  margin: 10px 0px;
}

.txt-2 h2 span {
  color: rgb(255, 63, 63);
}

.txt-2 button {
  padding: 9px 16px;
  outline: none;
  border: 1px solid rgb(255, 63, 63);
  background: transparent;
  color: #fff;
  border-radius: 4px;
  margin-top: 10px;
  transition: 0.3s ease-in;
}

.txt-2 button:hover {
  background-color: #946761;
  border: 1px solid #946761;
  cursor: pointer;
}

.banner-2 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px 80px;
  width: 100%;
  height: 60vh;
}

.banner-2 .b-1 {
  min-width: 580px;
  height: 50vh;
  background-image: url(img/banner/b17.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 30px;
}

.banner-2 .b-1 h4 {
  color: #fff;
  font-size: 20px;
}

.banner-2 .b-1 h2 {
  color: #fff;
  font-size: 40px;
}

.banner-2 .b-1 p {
  color: white;
  font-size: 15px;
}

.banner-2 .b-1 button {
  padding: 6px 12px;
  background: transparent;
  outline: none;
  border: none;
  border: 1px solid rgb(255, 255, 255);
  color: white;
  border-radius: 3px;
  margin-top: 10px;
  transition: 0.3s ease-out;
}

.banner-2 .b-1 button:hover {
  background-color: #e88600;
  cursor: pointer;
}

.banner-2 .b-2 {
  min-width: 580px;
  height: 50vh;
  background-image: url(img/banner/b10.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 30px;
}

.banner-2 .b-2 h4 {
  color: #fff;
  font-size: 20px;
}

.banner-2 .b-2 h2 {
  color: #fff;
  font-size: 40px;
}

.banner-2 .b-2 p {
  color: white;
  font-size: 15px;
}

.banner-2 .b-2 button {
  padding: 6px 12px;
  background: transparent;
  outline: none;
  border: none;
  border: 1px solid rgb(255, 255, 255);
  color: white;
  border-radius: 3px;
  margin-top: 10px;
  transition: 0.3s ease-out;
}

.banner-2 .b-2 button:hover {
  background-color: #262b2a;
  border: 1px solid white;
  cursor: pointer;
}

.banner-3 {
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px 70px;
}

.banner-3 .bnn-1 {
  width: 30%;
  min-width: 30%;
  background-color: #1f5248;
  background-image: url(img/banner/b7.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.banner-3 .bnn-1 h2 {
  font-size: 20px;
  color: white;
}

.banner-3 .bnn-1 h3 {
  color: rgb(255, 0, 0);
  margin-top: 5px;
}

.banner-3 .bnn-2 {
  width: 30%;
  background-color: #946761;
  background-image: url(img/banner/b4.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.banner-3 .bnn-2 h2 {
  font-size: 20px;
  color: white;
}

.banner-3 .bnn-2 h3 {
  color: rgb(255, 0, 0);
  margin-top: 5px;
}

.banner-3 .bnn-3 {
  width: 30%;
  background-color: #c8ffa8;
  background-image: url(img/banner/b18.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.banner-3 .bnn-3 h2 {
  font-size: 20px;
  color: white;
}

.banner-3 .bnn-3 h3 {
  color: rgb(255, 0, 0);
  margin-top: 5px;
}

.news {
  background-color: rgb(0, 0, 53);
  height: 25vh;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 90px;
  justify-content: space-around;
  align-items: center;
}

.news .txt-3 {
  width: 50%;
  color: white;
}

.news .txt-3 h2 {
  font-size: 30px;
}

.news .txt-3 h5 {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 500;
}

.news .search {
  width: 50%;
}

.search input {
  padding: 8px 18px;
  color: white;
  outline: none;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 6px;
  width: 300px;
}

.search input::placeholder {
  color: #fff;
}

.search button {
  padding: 8px 18px;
  border: 1px solid rgb(184, 0, 0);
  border-radius: 6px;
  background-color: rgb(184, 0, 0);
}

.search button a {
  text-decoration: none;
  color: #fff;
}

.search button:hover {
  background-color: rgb(126, 0, 0);
  border-radius: 1px solid rgba(126, 0, 0);
  cursor: pointer;
}

/* shop-page */

.shop-banner {
  background-image: url(img/banner/b1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: #fff;
}

.shop-banner h1 {
  font-size: 50px;
  font-weight: 600px;
}

.shop-banner p {
  font-size: 16px;
}

/* Footer */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 60vh;
  padding: 10px 50px;
}

.loggo p {
  font-size: 40px;
  font-weight: 700;
}

.loggo p span {
  color: #738d27;
}

.text-1 .foot-1 h3 {
  padding: 10px 0px;
}

.text-1 .foot-1 ul {
  list-style: none;
  color: rgb(46, 46, 46);
}

.text-1 .foot-1 ul li {
  padding: 3px 0px;
}

.text-2 h3 {
  padding: 10px 0px;
}

.text-2 ul {
  list-style: none;
}

.text-2 ul li {
  padding: 3px 0px;
}

.text-2 ul li a {
  text-decoration: none;
  color: rgb(46, 46, 46);
}
.text-2 ul li a:hover {
  color: rgb(0, 0, 138);
}

.text-3 h3 {
  padding: 10px 0px;
}

.text-3 ul {
  list-style: none;
}

.text-3 ul li {
  padding: 3px 0px;
}

.text-3 ul li a {
  text-decoration: none;
  color: rgb(46, 46, 46);
}
.text-3 ul li a:hover {
  color: rgb(0, 0, 138);
}
.text-4 {
  align-content: center;
  color: rgb(46, 46, 46);
}
.text-4 h3 {
  padding: 10px 0px;
}
.text-4 p {
  padding: 8px 0px;
}
.text-4 h4 {
  padding: 10px 0px;
}
.foot-4 img {
  border: 2px solid black;
  border-radius: 8px;
  margin-right: 8px;
}
.foot-4 {
  padding: 5px px;
}
.copyright {
  text-align: center;
  height: 10vh;
  font-size: 16px;
}

.divider {
  height: 1px;
  background-color: darkgray;
}

/*single-product*/

.section-1 {
  padding: 40px 60px;
}
#prodetails {
  display: flex;
}

#prodetails .single-pro-image {
  width: 40%;
  margin-right: 50px;
}

.small-img-group {
  display: flex;
  justify-content: space-between;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}
.prodec {
  width: 50%;
  padding-top: 30px;
}
.prodec h6 {
  padding: 40px 0px 20px 0px;
}
.prodec h2 {
  font-size: 26px;
  padding: 20px 0px 10px 0px;
}
.prodec select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
  outline: none;
  border-radius: 4px;
}
.prodec input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}
.prodec input:focus {
  outline: none;
}
.prodec button {
  background-color: #888178;
  color: #fff;
  padding: 10px 10px;
  outline: none;
  border: none;
}
.prodec p {
  line-height: 25px;
}

/*Blog start*/

.blog {
  height: 40vh;
  background-image: url(img/banner/b19.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 1%;
  text-align: center;
  align-content: center;
  color: #fff;
}
.blog p {
  padding: 10px 0px;
}
.blog h1 {
  font-size: 40px;
}

